@import url('https://fonts.cdnfonts.com/css/satisfactory');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/7e12732dd8f56c0851d07bdde0f7eb23?family=Novecento+NarrowDemiBold');
@import url('https://db.onlinewebfonts.com/c/0bce49d73e94815c847c3100a1a9831d?family=Moveo+Sans+W00+Regular');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bayon&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Staatliches&family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bayon", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    place-items: center;

}
:root{
    --first-shadow-color: rgba(0, 0, 0, 0.1);
}
.shop {
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: -30px; 
    position: relative; /* Tambahkan ini */
    z-index: 999; /* Tambahkan ini */
}

.logo {
    font-family: "Anton", serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
    font-size: 35px;
    color: #fff;
    width: clamp(60px, 200px, 200px);
    margin-left: 100px;
}

nav ul {
    background-color: rgba(5, 57, 4, 0.6);
    margin-right: 100px;
    padding: 2px;
}

nav ul li {
    font-family: "Instrument Sans", serif;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    font-style: light;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    font-size: 5px;
    width: 100%;
    z-index: 1;
    transition: 0.4s linear;
    border-top: 3px solid #fff;
}

nav > ul > li > ul {
    top: 100%;
    left: 0;
}

nav > ul > li > ul > li ul {
    top: 30%;
    left: 100%;
    border-left: 3px solid #fff;
}

.drop-icon {
    transform: rotate(-90deg);
}

nav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}

input {
    display: none;
}

label {
    width: 130px;
    height: 40px;
    color: #fff;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    font-weight: bolder;
    margin-right: 20px;
    text-transform: uppercase;
    display: none;
}

label span {
    font-family: "Roboto", serif;
}
.gmbr {
    width: clamp(60px, 200px, 200px);
    margin-left: 50px;
}

@media screen and (max-width: 1230px) {
    label {
        display: block;
    }
    .shop {
        display: none;
    }
    .gmbr {
        width: clamp(60px, 130px, 130px);
        margin-left: -100px;
    }
    nav{
        background-color: rgba(5, 57, 4, 0.7);
        padding: 5px;
        position: fixed;
        z-index: 999; /* Tambahkan ini */
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        transition: 0.8s ease-in-out;
        background-color: rgba(5, 57, 4, 0.7);
    }

    nav ul li {
        display: block;
        
    }

    input:checked ~ #menu {
        left: 0;
    }

    .drop-icon {
        transform: rotate(0deg);
    }

    nav ul li ul {
        position: relative;
        left: 0 !important;
        visibility: visible;
        opacity: 1;
        border-top: none;
        text-align: center;
        border-left: 5px solid #fffffd !important;
        display: none;
    }
    .judul {
        color: white;
        text-align: center;
        margin-top: 80px;
        line-height: 5rem;
        padding-top: 2rem;
    }
    .p1 {
        height: 200px;
     }
    .produk {
        height: 100px;
    }

    .show {
        display: block;
    }
    .footerNav ul {
        flex-direction: column;
    }
    
}
.banner {
    background-image: url(../img/apel_celup_ori.jpg);
    height: 850px;
    background-size: cover;
    background-position: center;
}
.banner6 {
    background-image: url(../img/Pabrik_apel_10.jpg);
    height: 850px;
    background-size: cover;
    background-position: center;
}
.banner7 {
    background-image: url(../img/Pabrik_Apel_Club.jpg);
    height: 850px;
    background-size: cover;
    background-position: center;
}
.banner2 {
    background-image: url(../img/apel_celup_cinnamon.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}
.banner3 {
    background-image: url(../img/2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}
.banner4 {
    background-image: url(../img/Pabrik_apel_10.jpg);
    height: 850px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    text-align: center;
}
.banner5 {
    background-image: url(../img/explore_produk.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}
.banner8 {
    background-image: url(../img/kunjungan.jpg);
    height: 850px;
    background-size: cover;
    background-position: center;
}
.container {
    position: relative;
    text-align: center;
    font-size: clamp(80px, 5vw, 100px);
}
.footerMenu ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
}
.footerMenu ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: clamp(40px, 5vw, 100px);
    transition: 0.5s;

}
.footerMenu ul li a:hover{
    opacity: 0.5;

}
.produk {
    height: auto; 
    width: 70%;
}


.judul {
    color: white;
    text-align: center;
    line-height: 5rem;
    padding-top: 2rem;
}

.judul2 {
    color: white;
    text-align: center;
    font-size: clamp(50px, 4vw, 100px);
    text-decoration: none;

}
.judul3 {
    color: white;
    text-align: center;
    font-size: clamp(90px, 4vw, 100px);
    line-height:80px;
    letter-spacing: 2px;
}
.tour1 {
    color: white;
    margin-top: 10rem;
    letter-spacing: 2px;
    font-size: 20px;
}
.judul4 {
    color: black;
    text-align: center;
    font-size: clamp(50px, 4vw, 100px);
    margin-top: 3rem;
}
.judul5 {
    color: black;
    text-align: center;
    font-size: clamp(50px, 0.5vw, 100px);
    margin-top: 3rem;
    text-decoration-line: underline;
}
.isi {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 10;
    font-style: normal;
}
.isi3 {
    color: black;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 10;
    font-style: normal;
}
.section{
    padding-block: 5em;
}
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span{
    color: #999;
}
h3{
    font-size: 1.5vw;
    font-weight: 400;
    color: red;
}
.project-container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.project-box>i{
    font-size: 50px;
    color: #00B5E7;

}
.project-box label{
    font-size: 15px;
    color: #777;
}
.project-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--second-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label{
    color: var(--color-white);
    z-index: 2;
}

.btn {
    background-color: #fe0202;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
}
.btn1 {
    background-color: #fe0202;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 250px;
    height: 45px;
}
.btn2 {
    background-color: #fe0202;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 300px;
    height: 45px;
}
.btn3 {
    background-color: #fe0202;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 300px;
    height: 45px;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item1 {
   height: 500px;
   width: 674.5px;
   background-image: url(../img/apel_celup_mini.jpg);
   background-position: center;
   background-size: cover;
}
.item2 {
   height: 500px;
   width: 674px;
   background-image: url(../img/apel_celup_lemon.jpg);
   background-position: center;
   background-size: cover;
}
.item3 {
    height: 500px;
    width: 674.5px;
    background-image: url(../img/kunjungan_pabrik.jpg);
    background-position: center;
    background-size: cover;
 }
 .item4 {
    height: 500px;
    width: 674px;
    background-image: url(../img/pabrik_apel_club_1.jpg);
    background-position: center;
    background-size: cover;
 }
 .club {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.club1 {
   height: 500px;
   width: 674.5px;
   background-image: url(../img/club1.jpg);
   background-position: center;
   background-size: cover;
}
.club2 {
   height: 500px;
   width: 674px;
   background-image: url(../img/club4.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px;
}
.club3 {
   height: 500px;
   width: 674.5px;
   background-image: url(../img/club2.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px;
}
.club4 {
   height: 500px;
   width: 674px;
   background-image: url(../img/club.jpg);
   background-position: center;
   background-size: cover;
   
}
.club5 {
   height: 500px;
   width: 674.5px;
   background-image: url(../img/kunjungan_pabrik1.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px;
}
.club6 {
   height: 500px;
   width: 674px;
   background-image: url(../img/kunjungan_pabrik_apel3.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px;
   
}
.isi2 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 10;
    font-style: normal;
}
.isi1 {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 10;
    font-style: normal;
}
.p-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
 }
 .w-container {
    height: 100px; 
    background-color: #0f60c4
 }
.p1 {
    height: auto;
    width: auto;
    text-align: center;
 }
.p2 {
    height: 500px;
    width: 574px;
    text-align: center;
    margin-right: 100px;
 }
 .image, .description {
    flex: 1 1 45%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.image img {
    max-width: 40%;
    height: auto;
}

@media (max-width: 768px) {
    .image, .description {
        flex: 1 1 100%;
    }
    .image img {
        margin-top: 80px;
    }
    .p-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 5px;
        margin-right: 5px;
     }
     .w-container {
        height: 1000px; 
     }
     .t-container {
        margin-top: 300px;
    }
     .banner6 {
        height: 900px;
    }
}
 .s-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

.ipro {
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 20px;
 }
.t-container {
    display: flex;
    justify-content: center;
}
.t-container img{
    height:25vw; 
    width: auto;
}
.f-container {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}
.media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.wrapper .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
} 
  .wrapper .button:hover{
    width: 150px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #333;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(4) span{
    color: #333;
  }
  .wrapper .button:nth-child(5) span{
    color: #ff0000;
  }
.footerNav{
    margin: 30px 0;
    text-align: center;
    padding-top: 30px;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.5em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom p{
    color: white;
    font-family: 'Ovink', sans-serif;
    text-align: center;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/* }
nav.scrollNav img.gmbr {
    width: clamp(60px, 130px, 130px);
    margin-left: -50px;
}
nav.scrollNav {
    background-color: rgba(5, 57, 4, 1);
    padding: 10px;
    display: block;
    margin-top: -60px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

nav.scrollNav ul {
    background-color: rgba(5, 57, 4, 0.5);
    margin-right: 100px;
    padding: 2px;
}

nav.scrollNav ul li {
    font-family: "Instrument Sans", serif;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    font-style: light;
    padding: 10px;
    
}
nav.scrollNav ul li a {
    text-decoration: none;
    color: #fff;
}

nav.scrollNav ul li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    text-align: ;
    font-size: 5px;
    width: 100%;
    z-index: 1;
    transition: 0.4s linear;
    border-top: 3px solid #fff;
}
nav.scrollNav > ul > li > ul {
    top: 100%;
    left: 0;
}

nav.scrollNav > ul > li > ul > li ul {
    top: 30%;
    left: 100%;
    border-left: 3px solid #fff;
}
nav.scrollNav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
} */
